#author {
  color: #d5d6db;
  margin-right: 10px;
  margin: 0px 10px 0 0;
  font-size: 18px;
}

#content {
  color: #d5d6db;
  margin: 2px 0;
}

#date {
  color: #9aa5ce;
  font-size: 14px;
}

.comment-wrapper {
  margin-top: 20px;
  border-top: 1px solid #9aa5ce ;
}

.username-date-wrapper {
  display: flex;
  align-items: center;
}
