.new-post-container {
  display: flex;
  flex-direction: column;
  background-color: #1a1b26;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
}

.post-textarea {
  width: 100%;
  resize: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
  outline: none;
  padding: 0;
  margin-bottom: 10px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

.btn-add-post {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.btn-add-post:hover {
  background-color: #358838;
}

.err-msg-post {
  margin-top: 10px;
  background-color: #8c4351;
  color: #d5d6db;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .feed-container {
    width: 80%; /* Make the wrapper wider on smaller screens */
  }
}

@media screen and (min-width: 1024px) {
  .feed-container {
    width: 50%; /* Make the wrapper 40% wide on full screens */
  }
}
