textarea {
  resize: none;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

.btn-add-post {
  background-color: #1da1f2;
  color: #ffffff;
}

.btn-add-post:hover {
  background-color: #1991db;
}

.err-msg {
  margin-top: 10px;
  background-color: #8c4351;
  color: #d5d6db;
  text-align: center;
  max-width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .feed-container {
    width: 80%; /* Make the wrapper wider on smaller screens */
  }
}

@media screen and (min-width: 1024px) {
  .feed-container {
    width: 50%; /* Make the wrapper 40% wide on full screens */
  }
}
