@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Inter&display=swap");
body {
  font-family: "Happy Monkey", cursive;
  font-family: "Inter", sans-serif;
  color: #000;
  margin: 0;
}