nav {
  overflow: hidden;
  background-color: #1a1b26;
  padding: 5px 10px;
  border-bottom: solid 0.1rem #5a4a78;
}

nav a {
  float: left;
  color: #c0caf5;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

nav a.navbar-logo {
  font-size: 25px;
  font-weight: bold;
}

nav a.active {
  background-color: #7dcfff;
  color: #24283b;
}

nav .navbar-item:hover {
  background-color: #7aa2f7;
  color: #24283b;
}

.header-right {
  float: right;
  justify-content: space-between;
}

.navbar-item {
  margin: 0 10px;
}

@media screen and (max-width: 500px) {
  nav a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.navbar-item.button {
  background-color: transparent;
  color: #c0caf5;
}
